<ion-content class="login-content" scroll-y="false">
  <ion-grid> 
    <ion-row class="ion-justify-content-center">
      <!-- ✅ 12 cols on mobile, 7 cols on md -->
      <ion-col size="12" size-md="7">

        <div class="login-container">
          
          <!-- ✅ Gradient Background -->
          <div class="gradient-bg">
            <div class="icon-container">
              <div class="carrot-wrap">
                <img src="../../assets/img/carrot.png" alt="Carrot" class="carrot-img" />
              </div>
            </div>
          </div>

          <!-- ✅ Form Section -->
          <div class="form-container">
            <h1 class="login-title">Sign Up</h1>
            <p class="login-subtitle">Enter your credentials to continue</p>

            <!-- Username -->
            <div class="input-group">
              <ion-item class="email-item">
                <ion-label position="stacked">Username</ion-label>
                <ion-input 
                  type="text" 
                  value="imshuvo97@gmail.com"
                  class="custom-input">
                </ion-input>
              </ion-item>
            </div>

            <!-- Email -->
            <div class="input-group">
              <ion-item class="email-item">
                <ion-label position="stacked">Email</ion-label>
                <ion-input 
                  type="email" 
                  value="imshuvo97@gmail.com"
                  class="custom-input">
                </ion-input>
              </ion-item>
            </div>

            <!-- Password -->
            <div class="input-group">
              <ion-item class="password-item">
                <ion-label position="stacked">Password</ion-label>
                <ion-input 
                  type="password" 
                  value="........"
                  class="custom-input">
                </ion-input>
                <ion-icon 
                  name="eye-off-outline" 
                  slot="end" 
                  class="eye-icon">
                </ion-icon>
              </ion-item>
            </div>

            <!-- Forgot Password -->
            <div class="forgot-password-container">
              <a href="#" class="forgot-password">Forgot Password?</a>
            </div>

            <!-- Login Button -->
            <ion-button 
              expand="block" 
              class="login-button"
              color="success">
              Log In
            </ion-button>

            <!-- Signup -->
            <div class="signup-container">
              <span class="signup-text">Don't have an account? </span>
              <a href="#" class="signup-link">Signup</a>
            </div>
          </div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
