<ion-content [fullscreen]="true">

  <div class="bg">
    <!-- Sabse upar background wali image -->
    <img src="../../assets/img/Pink_icon-removebg-preview.png" class="bg-img" alt="background" />

    <!-- Overlay content -->
    <div class="overlay">
      <!-- Dusri image -->
      <img src="../../assets/img/download.png" class="carrot" alt="carrot" />

      <h1 class="title">Welcome<br>to our store</h1>

      <p class="subtitle">
        Get your groceries in as fast as one hour
      </p>

      <ion-button expand="block" fill="clear" class="get-started-btn" (click)="goNextPage()">
        <span style="color: white;">Get Started</span>
      </ion-button>
    </div>
  </div>

</ion-content>
